{% extends "base_methods.html" %}
{% load static %}

{% block title %}caeser{% endblock title %}

{% block methodTitle %}Caeser{% endblock methodTitle %}

{% block methodDescription %}This is a very simple substitution cipher where each letter in the plaintext (original message) is shifted a certain number of positions down the alphabet.
For example, with a shift of 3, "hello" becomes "khoor."
It's easy to crack and offers minimal security.{% endblock methodDescription %}


{% block formAction %}caeser{% endblock formAction %}
<!-- form start -->
<!-- plain input: -->
{% block plainTitle %}Enter word to encryption{% endblock plainTitle %}
{% block plainPlaceholder %}Enter a word to en/decryption...{% endblock plainPlaceholder %}
{% block plainInputHelp %}only allow alphabet characters  word: "hello"{% endblock plainInputHelp %}


<!-- key input: -->
{% block keyTitle %}Enter word to encryption{% endblock keyTitle %}
{% block keyPlaceholder %}Enter a word to en/decryption...{% endblock keyPlaceholder %}
{% block keyInputHelp %}only allow alphabet characters  word: "hello"{% endblock keyInputHelp %}


{% block result %}{{ result }}{% endblock result %}
