{% extends "base_methods.html" %}
{% load static %}

{% block title %}rsa{% endblock title %}

{% block methodTitle %}RSA{% endblock methodTitle %}

{% block formAction %}rsa{% endblock formAction %}
{% block plainInputType %}number{% endblock plainInputType %}


{% block ChangeInputs %}
<label class="text-input-label" for="p">p</label>
<input lang="en" id="p" class="text-input items" type="number" name="p" value="{{ p }}" title="Enter p for use" required="required" placeholder="Enter Q...">
 <span class="input-icon">
                    <svg viewBox="0 0 20 20">
                        <path fill="#000000" fill-rule="evenodd" d="M10 3a7 7 0 100 14 7 7 0 000-14zm-9 7a9 9 0 1118 0 9 9 0 01-18 0zm10.01 4a1 1 0 01-1 1H10a1 1 0 110-2h.01a1 1 0 011 1zM11 6a1 1 0 10-2 0v5a1 1 0 102 0V6z"/>
                    </svg>
                    <span class="input-help">only allow alphabet characters  word: "hello"</span>
 </span>

<label class="text-input-label" for="q">q</label>
<input lang="en" id="q" class="text-input items" type="number" name="q" value="{{ q }}" title="Enter q for use" required="required" placeholder="Enter P...">
 <span class="input-icon">
                    <svg viewBox="0 0 20 20">
                        <path fill="#000000" fill-rule="evenodd" d="M10 3a7 7 0 100 14 7 7 0 000-14zm-9 7a9 9 0 1118 0 9 9 0 01-18 0zm10.01 4a1 1 0 01-1 1H10a1 1 0 110-2h.01a1 1 0 011 1zM11 6a1 1 0 10-2 0v5a1 1 0 102 0V6z"/>
                    </svg>
                    <span class="input-help">only allow alphabet characters  word: "hello"</span>
                </span>

<label class="text-input-label" for="e">e</label>
<input lang="en" id="e" class="text-input items" type="number" name="e" value="{{ e }}" title="Enter e for use" required="required" placeholder="Enter E...">
 <span class="input-icon">
                    <svg viewBox="0 0 20 20">
                        <path fill="#000000" fill-rule="evenodd" d="M10 3a7 7 0 100 14 7 7 0 000-14zm-9 7a9 9 0 1118 0 9 9 0 01-18 0zm10.01 4a1 1 0 01-1 1H10a1 1 0 110-2h.01a1 1 0 011 1zM11 6a1 1 0 10-2 0v5a1 1 0 102 0V6z"/>
                    </svg>
                    <span class="input-help">only allow alphabet characters  word: "hello"</span>
                </span>

{% endblock ChangeInputs %}

{% block result %}{{ result }}{% endblock result %}
