{% extends "base_methods.html" %}
{% load static %}

{% block title %}rsa{% endblock title %}

{% block methodTitle %}RSA{% endblock methodTitle %}

{% block formAction %}rsa{% endblock formAction %}


{% block ChangeInputs %}

<label class="text-input-label" for="pl">Plain Text</label>
<div class="input-wrapper">
    <input id="pl" class="text-input items" type="{% block plainInputType %}text{% endblock plainInputType %}" name="plain" value="{{ plain }}" title="{% block plainTitle %}Enter word to encryption{% endblock plainTitle %}"
       required="required" placeholder="{% block plainPlaceholder %}Enter a word to en/decryption...{% endblock plainPlaceholder %}">

    <span class="input-icon">
        <svg viewBox="0 0 20 20">
            <path fill="#000000" fill-rule="evenodd" d="M10 3a7 7 0 100 14 7 7 0 000-14zm-9 7a9 9 0 1118 0 9 9 0 01-18 0zm10.01 4a1 1 0 01-1 1H10a1 1 0 110-2h.01a1 1 0 011 1zM11 6a1 1 0 10-2 0v5a1 1 0 102 0V6z"/>
        </svg>
        <span class="input-help">{% block plainInputHelp %}only allow alphabet characters  word: "hello"{% endblock plainInputHelp %}</span>
    </span>
</div>

<label class="text-input-label" for="p">p</label>
<div class="input-wrapper">
    <input lang="en" id="p" class="text-input items" type="number" name="p" value="{{ p }}" title="Enter p for use" required="required" placeholder="Enter Q...">
    <span class="input-icon">
         <svg viewBox="0 0 20 20">
            <path fill="#000000" fill-rule="evenodd" d="M10 3a7 7 0 100 14 7 7 0 000-14zm-9 7a9 9 0 1118 0 9 9 0 01-18 0zm10.01 4a1 1 0 01-1 1H10a1 1 0 110-2h.01a1 1 0 011 1zM11 6a1 1 0 10-2 0v5a1 1 0 102 0V6z"/>
         </svg>
         <span class="input-help">only allow alphabet characters  word: "hello"</span>
    </span>
</div>

<label class="text-input-label" for="q">q</label>
<div class="input-wrapper">
    <input lang="en" id="q" class="text-input items" type="number" name="q" value="{{ q }}" title="Enter q for use"
           required="required" placeholder="Enter P...">
    <span class="input-icon">
        <svg viewBox="0 0 20 20">
            <path fill="#000000" fill-rule="evenodd"
                  d="M10 3a7 7 0 100 14 7 7 0 000-14zm-9 7a9 9 0 1118 0 9 9 0 01-18 0zm10.01 4a1 1 0 01-1 1H10a1 1 0 110-2h.01a1 1 0 011 1zM11 6a1 1 0 10-2 0v5a1 1 0 102 0V6z"/>
        </svg>
        <span class="input-help">only allow alphabet characters  word: "hello"</span>
    </span>
</div>
<label class="text-input-label" for="e">e</label>
<div class="input-wrapper">
    <input lang="en" id="e" class="text-input items" type="number" name="e" value="{{ e }}" title="Enter e for use"
               required="required" placeholder="Enter E...">
    <span class="input-icon">
        <svg viewBox="0 0 20 20">
            <path fill="#000000" fill-rule="evenodd"
                  d="M10 3a7 7 0 100 14 7 7 0 000-14zm-9 7a9 9 0 1118 0 9 9 0 01-18 0zm10.01 4a1 1 0 01-1 1H10a1 1 0 110-2h.01a1 1 0 011 1zM11 6a1 1 0 10-2 0v5a1 1 0 102 0V6z"/>
        </svg>
        <span class="input-help">only allow alphabet characters  word: "hello"</span>
    </span>
</div>
{% endblock ChangeInputs %}

{% block result %}{{ result }}{% endblock result %}