.page-container {
	background-color: var(--mainColor);
	height:100%;
	display: grid;
	grid-template-columns: repeat(10,1fr);
	grid-template-rows: 60px auto auto 280px;
	grid-template-areas: 
	"header header header header header header header header header header"
	"intro intro intro intro intro intro intro intro intro intro"
	"cont cont cont cont cont cont cont cont cont cont"
	"footer footer footer footer footer footer footer footer footer footer";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.box-title .description {
    padding: 0px 15vw;
    margin-top: 29px;
    text-align: center;
    font-size: 23px;
}



input[type=number] {
    -moz-appearance: textfield;
}

.input-wrapper {
    position: relative;
}

.input-icon {
    position: absolute;
    width: 36px;
    height: 36px;
    transform: translate(-104%, 56%);
    cursor: pointer;
    --tra: translateY(0px);
    --opc: 0;
    --vis: hidden;
}

.input-icon:hover {
    --tra: translateY(61px);
    --opc: 1;
    --vis: visible;
}

.input-help:hover {
    cursor: none;
}

.input-help {
    position: absolute;
    width: 418px;
    height: 26px;
    right: 0;
    background-color: #000000b8;
    border: none;
    border-radius: 9px;
    font-size: 17px;
    text-align: center;
    transition: all 1s ease;
    cursor: none;
    transform: var(--tra);
    opacity: var(--opc);
    visibility: var(--vis);
}



.text-input {
    background-color: #0e1317b8;
    height: 76px;
    width: 418px;
    font-size: 27px;
    text-align: center;
    border: none;
    border-bottom: 10px #a7a7a7 solid;
    border-radius: 9px;
    outline: none;
    caret-color: #fff;
    color: var(--thirdColor);
}

.text-input:focus, .text-input:hover {
    border-bottom-color:var(--thirdColor);
}

.text-input-label {
    font-weight: bold;
    font-size: 24px;
    margin-top: 29px;
}


.flex {
    /* padding: 0 300px; */
    flex-flow: column nowrap;
    /* align-content: center; */
    align-items: center;
}

.flex .items {
	margin-top: 5px;
}

.btn {
	flex: none;
	height: 92px;
    width: 250px;
    margin-top: 5px;
    border-radius: 40px;
    background-color: var(--secondColor);
    color: inherit;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: "Times New Roman";
    border: var(--thirdColor) solid;
    outline: none;
    cursor: pointer;
    transition: background .35s,border-color .35s,color .35s!important;
}


.btn-enc {
 background-color: #0f752a;	
}

.btn-enc:hover {
    background-color: #094a1a;
}

.btn-enc:active {
	background-color: #042d0f;
	border-color: #094a1a;
	color: #094a1a;
}


.btn-dec {
    background-color: #750f0f;
    /*    background-color: #00000082;
    color: #690cff;*/
}

.btn-dec:hover {
    background-color: #4a0707;
    /*    background-color: #1a002f9e;*/
}

.btn-dec:active {
	background-color: #210303;
	border-color: #4a0707;
	color: #4a0707;
}